In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("train.csv",usecols=['X1','X2'])
df

     X1  X2
0     v  at
1     t  av
2     w   n
3     t   n
4     v   n
...  ..  ..
4204  s  as
4205  o   t
4206  v   r
4207  r   e
4208  r  ae

[4209 rows x 2 columns]

In [3]:
for feature in df.columns:
    print("feature has",len(df[feature].unique()),"values")

feature has 27 values
feature has 44 values

In [7]:
df.X1.value_counts().to_dict()

{'aa': 833,
 's': 598,
 'b': 592,
 'l': 590,
 'v': 408,
 'r': 251,
 'i': 203,
 'a': 143,
 'c': 121,
 'o': 82,
 'w': 52,
 'z': 46,
 'u': 37,
 'e': 33,
 'm': 32,
 't': 31,
 'h': 29,
 'y': 23,
 'f': 23,
 'j': 22,
 'n': 19,
 'k': 17,
 'p': 9,
 'g': 6,
 'q': 3,
 'd': 3,
 'ab': 3}

In [8]:
df.X1= df.X1.map(df.X1.value_counts().to_dict())

In [9]:
df.head()

    X1  X2
0  408  at
1   31  av
2   52   n
3   31   n
4  408   n